<div class="max-w-lg mx-auto bg-white rounded-xl shadow-md p-6">
  <h1 class="text-3xl font-bold mb-4">Editar Livro</h1>
  
  <%= render "form", livro: @livro %>
  <%= link_to "â† Cancelar", livros_path, class: "text-gray-600 hover:text-gray-800 mt-3 inline-block" %>
</div>
